<header>
  <div class="menu-button" (click)="menuButtonClicked()">
    <i class='bx bx-menu'></i>
  </div>
  <div class="brand-name">
    <span>Typing Test</span>
  </div>
  <div class="btn-group">
    <button class="btn btn-outline-light btn-lg">Login</button>
    <button class="btn btn-outline-light btn-lg">Register</button>
    <button class="btn btn-outline-light btn-lg"
            routerLink="/profile">Profile</button>
    <button class="btn btn-outline-light btn-lg">Log out</button>
  </div>
</header>
