:host{
    position: fixed;
    top: var(--headerHeight);
    left: 0px;
    width: var(--sideNavOpenWidth);
    height: calc(100vh - var(--headerHeight));
    overflow: hidden;
    word-wrap: break-word;
    z-index:1;
    background-color: rgb(24,24,24);
    border-top: 1px solid white;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);

}
